body{background-size: cover;background-image: url("../img/campopok.png");
		background-position: 0 -100px;}
.luca{width: 180px; margin-right: 130px; margin-top: 90px;}
.elect{width: 370px; margin-top: -34px; margin-left: 105px; }
.barraLuca{margin-top: 70px;}
.selectEle,#atacarE{background-color: #ffdf20; font-size: 16px;color: #333;}
.selectLuca,#atacarL{background-color: #499cee; font-size: 16px;color: #fff;}
#quetranza {margin-top: -20px; font-size: 20px; }
.punoa,.punof,.punob,.trueno{width: 240px; position: absolute; margin-left: 470px;
	margin-top: -60px;display: none;z-index: 1;}
.force,.hueso,.bolaa,.shadow{width: 240px; position: absolute; margin-left: 470px;
	margin-top: 180px;display: none; z-index: 1;}
#vidaEle,#vidaLuca {margin-top: -15px; margin-left: 410px; font-size: 25px; position: absolute; }
.imgModal{width: 130px;}
input[type=radio], .modalBtn {margin: 0 auto; display: block; }